* {
    margin: 0;
    padding: 0;
    /* background-color: #ddd; */
}

body{
    background-color: #a7d897;
}

.outer{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    color: black;
}

.resetheading{
    text-align: center;
    margin-bottom: 20px;
    font-family: system-ui;
    color: black;
    background-color: white;
}

.resetpara{
    margin-bottom: 10px;
    text-align: center;
    font-family: system-ui;
}

.reset{
    height: 400px;
    width: 430px;
    background-color: white;
    /* background-color: #755139FF; */
}

.resetform{
    height: 400px;
    width: 440px;
    background-color: white;
    /* background-color: #F2EDD7FF; */
    /* background-color: #755139FF; */
}

.innerSec{
    height: 400px;
    width: 430px;
    background-color: white;
    /* background-color: #755139FF; */
    margin-top: 100px;
    /* margin-left: 130px;
    margin-right: 130px; */
}

.innerSec input{
    text-indent: 10px;
    border-color: white;
    background-color: white;
}

.useremail{
    background-color: white;
    text-align: center;
    /* background-color: #755139FF; */

}
.useremail input{
    /* border-color: white; */
    border-color: black;
    height: 40px;
    width: 7cm;
    border-radius: 5px;
}

.requestbutton{
    background-color: white;
    /* background-color: #755139FF; */
    text-align: center;
    margin-top: 10px;
}


.emailreq{
    cursor: pointer;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border-color: white;
    /* background-color: white; */
    background-color: black;
    /* color: black; */
    color: white;
}

