<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/csswork/about.css">
    <title>About</title>
</head>

<body>
{% extends "base.html" %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <!-- <h1>About Us</h1> -->
                </div>
                <div class="content">
                    <h2>We are here to save your time.</h2>

                    <p class="aboutuspara">We provide platform for customers to search and discover restaurants along with the analysis.<br>
                       Analysis is based on customers feedback that we collect from various websites.
                    </p>
                </div>
            </div>
            <div class="image-section">
                <img src="/static/Img/brooke-cagle-tLG2hcpITZE-unsplash.jpg">
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>
