<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/csswork/contact.css">
    <title>contact</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="outer">
        <div class="outer1">
            <div class="contactsec">
                Get in touch
                <section class="para">Want to get in touch? We are here to help you with anything you need!</section>
            </div>
        </div>
    </div>
    <div class="contactinfo">
        <div class="container">
            <div class="mailsection">
                <div class="emailsymbol">
                    <img src="/static/Img/gmail.png">
                </div>
                <div class="mailinfo">
                    <p>Send us an email<br>We will be sure to get back to you as soon as possible.<br></p>
                </div>
                <section class="address">
                    <p>sushantkale@gmail.com</p>
                </section>
            </div>

            <!-- <div class="linkedinsection">
                <script src="https://platform.linkedin.com/badges/js/profile.js" async defer
                    type="text/javascript"></script>
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light"
                    data-type="HORIZONTAL" data-vanity="sushant-kale-870b6a237" data-version="v1">
                    <a class="badge-base__link LI-simple-link"
                        href="https://in.linkedin.com/in/sushant-kale-870b6a237?trk=profile-badge"></a>
                </div>
            </div> -->



            <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark"
                data-type="HORIZONTAL" data-vanity="sushant-kale-870b6a237" data-version="v1"><a
                    class="badge-base__link LI-simple-link"
                    href="https://in.linkedin.com/in/sushant-kale-870b6a237?trk=profile-badge">Sushant Kale</a>
            </div> -->

        </div>

    </div>


    {% endblock %}
</body>

</html>