<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/csswork/KEBABSANDKURRIES.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>KEBABS AND KURRIES</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="allimages">
        <div class="imageone">
            <img src="/static/Img/kebabsandkurriesone.jpg">
        </div>
        <section class="middlepart">
            <div class="imagetwo">
                <img src="/static/Img/Screenshot (34).png">
            </div>

            <div class="imagethree">
                <img src="/static/Img/Screenshot (38).png">
            </div>
        </section>

        <div class="imagefour">
            <img src="/static/Img/Screenshot (36).png">
        </div>

    </div>

    <div class="details">
        <h1>KEBABS AND KURRIES</h1>
        <p class="type">Chinese, Indian, International</p>

        <span class="locationinfo"><i class="fa fa-map-marker"> Hotel Sahara Star, Opposite Domestic Airport, Vile Parle
                East Sahara Star Hotel,
                Mumbai 400099 India</i> </span>
        <span class="contactno"><i class="fa fa-phone"> +91 8291285770</i></span>
        <span class="website"><a
                href="https://www.saharastar.com/dining/the-earth-plate-global-cuisine.html">Website</a>
        </span>
        <span class="menulist"><a
                href="https://www.itchotels.com/content/dam/itchotels/in/umbrella/itc/hotels/itcgrandcentral-mumbai/documents/ITC-Grand-Central-KnK-Food-Menu.pdf">Menu</a>
        </span>
        <span class="drop">
            <span class="timeinfo">Opening and closing hours<i class="fa fa-info-circle"></i></span>
            <span class="weeklyinfo">
                <p class="days">
                <h4 class="openning">Opening Hours</h4>
                <hr>
                Mon-Sun: 12:30 pm - 2:45 pm, 7:00 pm - 11:30 pm
                <br>
                <!-- Thursday: Closed -->
                </p>
            </span>
        </span>
    </div>

   
        <div class="sec1">
            <div class="txt1">Analysis</div>
            <iframe title="Report Section" width="1340" height="390.5" src="https://app.powerbi.com/view?r=eyJrIjoiMDRjNDQ0NTYtOGYwOS00MDMwLTk5NjUtYjUxNGMzNjcxYTM2IiwidCI6IjhjZWI4ZDk2LWRhMTEtNGY0Zi1iYjk0LTIwZDU3OGEzNDMxZSJ9" frameborder="0" allowFullScreen="true"></iframe>
            <p class="note">Note : Analysis is done by collecting the reviews between 2019-2023</p>
        </div>

        <div class="alldetails">
        <div class="sec2">
            <div class="txt2">Details</div>
            <div class="container">
                <div class="pricerange">PRICE RANGE</div>
                <div class="rangebetween">₹2,500 - ₹3,500</div>
                <div class="cuisines">CUISINES</div>
                <div class="cuisinestype">Indian, Chinese, International, Asian</div>
                <div class="meals">MEALS</div>
                <div class="mealsinclude">Breakfast, Lunch, Dinner, Brunch, Drinks</div>
                <div class="specialdiets">SPECIAL DIETS</div>
                <div class="diets">Vegetarian Friendly, Vegan Options, Halal, Gluten Free Options</div>
            </div>
        </div>
        <div class="sec3">
            <div class="txt2">About</div>
            <div class="about">
                <p class="aboutrest">
                    K&K, a symphony of fine dining in an ambience that complements the cuisine. Under the baton of the
                    most celebrated Chefs, great curries of the countries are served along with the most exquisite
                    kebabs in the land. Years of experiment and research into ancient culinary secrets have gone into
                    composing a delectable menu that will entrance even the most fastidious gourmet.
                </p>
            </div>
        </div>
    </div>
    <div class="moreinfo">
        <div class="heading">More Info</div>
        <div class="featurecontainer">
            <div class="morefeaturespartone">

                <div class="homedelivery">
                    <p class="item1">Home Delivery</p>
                </div>

                <div class="wheelchairaccessible">
                    <p class="item2">Wheelchair Accessible</p>
                </div>

                <div class="fullbaravailable">
                    <p class="item3">Full Bar Available</p>
                </div>

                <div class="valetparking">
                    <p class="item4">Valet Parking</p>
                </div>
                <div class="Star">
                    <p class="item5">4/5 Star</p>
                </div>
                <div class="smokingarea">
                    <p class="item6">Smoking Area</p>
                </div>
            </div>
            <div class="morefeaturesparttwo">
                <div class="dessertsandbakes">
                    <p class="item7">Desserts and Bakes</p>
                </div>
                <div class="takeawayavailable">
                    <p class="item8">Takeaway Available</p>
                </div>
                <div class="brunch">
                    <p class="item9">Brunch</p>
                </div>
                <div class="familyfriendly">
                    <p class="item10">Family Friendly</p>
                </div>
                <div class="luxurydining">
                    <p class="item11">Luxury Dining</p>
                </div>
                <div class="indoorseating">
                    <p class="item12">Indoor Seating</p>
                </div>

            </div>
        </div>
    </div>
    <div class="comparepage">
        <button class="comparebtn" onclick="window.location.href = 'restaurant_analysis_3'">Compare</button>
        <!-- <button class="comparebtn"><a href="restaurant_analysis_3">Compare</a></button> -->
    </div>
    {% endblock %}
</body>

</html>