<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PESHAWRI</title>
    <link rel="stylesheet" href="/static/csswork/EAST-EAST_ASIAN_SPICE_TRAIL.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="allimages">
        <div class="imageone">
            <img src="/static/Img/Screenshot (51).png">
        </div>
        <section class="middlepart">
            <div class="imagetwo">
                <img src="/static/Img/Screenshot (52).png">
            </div>

            <div class="imagethree">
                <img src="/static/Img/Screenshot (50).png">
            </div>
        </section>

        <div class="imagefour">
            <img src="/static/Img//Screenshot (49).png">
        </div>

    </div>
    <div class="details">
        <h1>PESHAWRI</h1>
        <p class="type">Indian, Vegetarian Friendly, Vegan Options</p>
        <span class="locationinfo"><i class="fa fa-map-marker"> Sahar Road, Andheri East ITC Maratha, Mumbai 400069
                India </i></span>
        <span class="contactno"><i class="fa fa-phone"> +91 22 2830 3030</i></span>
        <span class="website"><a href="https://www.itchotels.com/in/en/itcmaratha-mumbai">Website</a></span>
        <span class="drop">
            <span class="timeinfo">Opening and closing hours <i class="fa fa-info-circle"></i></span>
            <span class="weeklyinfo">
                <p class="days">
                <h4 class="openning">Opening Hours</h4>
                <hr>
                   Mon-Sun: 12:00 pm - 3:00 pm, 7:00 pm - 11:30 pm
                <br>
                </p>
            </span>
        </span>
    </div>


    <div class="sec1">
        <div class="txt1">Analysis</div>
        <iframe title="Report Section" width="1340" height="390.5" src="https://app.powerbi.com/view?r=eyJrIjoiMjQzMzdkNzItNTYzMC00ZGEyLWJiYjQtMTAyMTVhZDExNDZiIiwidCI6IjhjZWI4ZDk2LWRhMTEtNGY0Zi1iYjk0LTIwZDU3OGEzNDMxZSJ9" frameborder="0" allowFullScreen="true"></iframe>
        <p class="note">Note : Analysis is done by collecting the reviews between 2019-2023</p>
     </div>
    <div class="alldetails">
        <div class="sec2">
            <div class="txt2">Details</div>
            <div class="container">
                <div class="pricerange">PRICE RANGE</div>
                <div class="rangebetween">₹2,375 - ₹2,675</div>
                <div class="cuisines">CUISINES</div>
                <div class="cuisinestype">Indian</div>
                <div class="meals">MEALS</div>
                <div class="mealsinclude">Lunch, Dinner</div>
                <div class="features">FEATURES</div>
                <div class="featuresinclude">
                    Reservations, Seating, Highchairs Available, Wheelchair Accessible, Serves Alcohol, Full Bar,
                    Accepts Credit Cards, Table Service, Wine and Beer, Non-smoking restaurants
                </div>
            </div>
        </div>
        <div class="sec3">
            <div class="txt2">About</div>
            <div class="about">
                <p class="aboutrest">
                    The romance of the rugged North West Frontier of India comes alive at this authentic, award winning
                    restaurant, making it a landmark dining destination in Mumbai.
                </p>
            </div>
        </div>
    </div>

    <div class="moreinfo">
        <div class="heading">More Info</div>
        <div class="featurecontainer">
            <div class="morefeaturespartone">
                <div class="wheelchairaccessible">
                    <p class="item1">Wheelchair Accessible</p>
                </div>
                <div class="fullbaravailable">
                    <p class="item2">Full Bar Available</p>
                </div>
                <div class="dessertsandbakes">
                    <p class="item3">Desserts and Bakes</p>
                </div>
                <div class="indoorseating">
                    <p class="item4">Indoor Seating</p>
                </div>
            </div>
            <div class="morefeaturesparttwo">
                <div class="tablebooking">
                    <p class="item5">Table booking recommended</p>
                </div>
                <div class="Stars">
                    <p class="item6">4/5 Star</p>
                </div>
                <div class="luxurydining">
                    <p class="item7">Luxury Dining</p>
                </div>
                <div class="familyfriendly">
                    <p class="item8">Family Friendly</p>
                </div>
            </div>
        </div>
    </div>

    <div class="comparepage">
        <button class="comparebtn" onclick="window.location.href = 'restaurant_analysis_5'">Compare</button>
        <!-- <button class="comparebtn"><a href="restaurant_analysis_5">Compare</a></button> -->
    </div>
    {% endblock %}
</body>

</html>