<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/csswork/THE_EARTH_PLATE.css">
    <title>THE EARTH PLATE</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="allimages">
        <div class="imageone">
            <img src="/static/Img/earthplateimgone.png">
        </div>
        <section class="middlepart">
            <div class="imagetwo">
                <img src="/static/Img/earthplateimgtwo.png">
            </div>

            <div class="imagethree">
                <img src="/static/Img/earthplateimgthree.png">
            </div>
        </section>

        <div class="imagefour">
            <img src="/static/Img/earthplateimgfour.png">
        </div>

    </div>
    <div class="details">
        <h1>THE EARTH PLATE</h1>

        <p class="type">Indian, Chinese, International</p>
        

        <span class="locationinfo"><i class="fa fa-map-marker"> Hotel Sahara Star, Opposite Domestic Airport, Vile Parle
                East Sahara Star Hotel,
                Mumbai 400099 India </i></span>
        <span class="contactno"><i class="fa fa-phone"> +91 8291285770</i></span>
        <span class="website"><a
                href="https://www.saharastar.com/dining/the-earth-plate-global-cuisine.html">Website</a>
        </span>
        <span class="drop">
            <span class="timeinfo">Open - 24 Hours <i class="fa fa-info-circle"></i></span>
            <span class="weeklyinfo">
                <p class="days">
                <h4 class="openning">Opening Hours</h4>
                <hr>
                Mon-Sun: 24 Hours
                <br>
                </p>
            </span>
        </span>
    </div>

    <div class="sec1">
        <div class="txt1">Analysis</div>
        <iframe title="Report Section" width="1340" height="390.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjEyOTY0ODktN2RjMy00N2VkLTg4YzMtYTZjNDMyYmJhMjNjIiwidCI6IjhjZWI4ZDk2LWRhMTEtNGY0Zi1iYjk0LTIwZDU3OGEzNDMxZSJ9" frameborder="0" allowFullScreen="true"></iframe>
        <p class="note">Note : Analysis is done by collecting the reviews between 2019-2023</p>
    </div>

    <div class="alldetails">
        <div class="sec2">
            <div class="txt2">Details</div>
            <div class="container">
                <div class="pricerange">PRICE RANGE</div>
                <div class="rangebetween">₹2,500 - ₹3,500</div>
                <div class="cuisines">CUISINES</div>
                <div class="cuisinestype">Indian, Chinese, International, Asian</div>
                <div class="meals">MEALS</div>
                <div class="mealsinclude">Breakfast, Lunch, Dinner, Brunch, Drinks</div>
                <div class="specialdiets">SPECIAL DIETS</div>
                <div class="diets">Vegetarian Friendly, Vegan Options, Halal, Gluten Free Options</div>
            </div>
        </div>
        <div class="sec3">
            <div class="txt2">About</div>
            <div class="about">
                <p class="aboutrest">
                    THE EARTH PLATE-GLOBAL CUISINE EXPERIENCE THE CULTURE FROM AROUND THE WORLD Featuring a selection of
                    Italian, Mediterranean, French, Tex-Mex and Far-Eastern delicacies along with Indian regional
                    favourites, The Earth Plate is Sahara Star's global cuisine restaurant. One of the largest all-day
                    dining restaurants in the city, you can watch the culinary maestros at work in the show kitchen
                    while you enjoy delicacies from around the world. The Earth Plate also brings to India for the first
                    time Teppanyaki ice cream, an indulgence whipped up right before your eyes. Timings : 24 hours
                </p>
            </div>
        </div>
    </div>

    <div class="moreinfo">
        <div class="heading">More Info</div>
        <div class="featurecontainer">
            <div class="morefeaturespartone">
                <div class="homedelivery">
                    <p class="item1">Home Delivery</p>
                </div>
                <div class="wheelchairaccessible">
                    <p class="item2">Wheelchair Accessible</p>
                </div>
                <div class="valetparking">
                    <p class="item3">Valet Parking</p>
                </div>
                <div class="dessertsandbakes">
                    <p class="item4">Desserts and Bakes</p>
                </div>
                <div class="smokingarea">
                    <p class="item5">Smoking Area</p>
                </div>
                <div class="indoorseating">
                    <p class="item6">Indoor Seating</p>
                </div>
            </div>
            <div class="morefeaturesparttwo">
                <div class="takeawayavailable">
                    <p class="item7">Takeaway Available</p>
                </div>
                <div class="brunch">
                    <p class="item8">Brunch</p>
                </div>
                <div class="fullbaravailable">
                    <p class="item9">Full Bar Available</p>
                </div>
                <div class="familyfriendly">
                    <p class="item10">Family Friendly</p>
                </div>
                <div class="luxurydining">
                    <p class="item11">Luxury Dining</p>
                </div>
                <div class="Star">
                    <p class="item12">4/5 Star</p>
                </div>
            </div>
        </div>
    </div>

    <div class="comparepage">
        <button class="comparebtn" onclick="window.location.href = 'restaurant_analysis_2'">Compare</button>
        <!-- <button class="comparebtn"><a href="restaurant_analysis_2">Compare</a></button> -->
    </div>
    {% endblock %}

</body>

</html>